<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.githang.gradledoc" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".GradleApplication"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.githang.gradledoc.contents.ContentsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.githang.gradledoc.chapter.ChapterActivity"
            android:label="@string/title_activity_chapter" >
        </activity>
        <activity
            android:name="com.githang.gradledoc.others.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity android:name=".process.ProcessActivity"
                  android:label="@string/title_activity_process"
            >
        </activity>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${CHANNEL_NAME}" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="547a80f6fd98c523b10017c1" />
    </application>

</manifest>
